<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\css\home.css">
</head>

<body>
    <div class="fr">
        <h1>Enter The Detail Of Airplane</h1>
        <form action="result">
          
                <label for="planename">Name  :- </label>
                <input type="text" name="planename" id="planename"><br><br>
                <label for="under">Use of plane</label>
                <select id="under" name="under">
                    <option value="commercial">commercial plane</option>
                    <option value="private">private plane</option>
                    <option value="military">airforce plane</option>
                </select><br><br>
                <label for="planeid">Airplane-ID :-</label>
                <input type="number" name="planeid" id="planeid"><br><br>
                <label for="img">Image-file :-</label>
                <input type="file" name="img" id="img"><br><br>
                <button type="submit">Submit</button>
         
        </form>
    </div>
    
    
</body>

</html>